.color-1 {
	background: #434d55;
	color: #eee;
}
.color-2 {
	background: #47c9af;
	color: #fff;
}
.color-2 a {
	color: rgba(0,0,0,0.3);
}
.color-2 a:hover, .color-2 a:focus {
	color: #fff;
}
.color-3 {
	color: #fff;
	background: #566473;
}
.color-3 a {
	color: rgba(58,77,97,0.8);
}
.color-3 a:hover, .color-3 a:focus {
	color: #fff;
}
.color-4 {
	color: rgba(102,49,54,0.8);
	background: #dd5864;
}
.color-4 a {
	color: rgba(255,255,255,0.9);
}
.color-4 a:hover, .color-4 a:focus {
	color: #fff;
}
.color-5 {
	background: #e4eaea;
}
.color-5 .codrops-demos a {
	color: #e35583;
}
.color-6 {
	background: #ffdab9;
}
.color-6 a {
	color: #e74c3c;
}
.color-6 a:hover, .color-6 a:focus {
	color: #74777b;
}
.color-7 {
	color: #fff;
	background: #f08080;
}
.color-7 a {
	color: #fffaf0;
}
.color-7 a:hover, .color-7 a:focus {
	color: #fff;
}
.color-8 {
	color: #fff;
	background: #2f3238;
}
.color-8 a {
	color: #ddd;
}
.color-8 a:hover, .color-8 a:focus {
	color: #fff;
}
.content {
	padding: 0 1em;
	margin: 0 auto;
	text-align: center;
}
/* Header */
.toltip-header {
	padding: 1em 0 3em;
	letter-spacing: -1px;
}
.toltip-header h1 {
	font-weight: 800;
	font-size: 4.5em;
	line-height: 1;
}
.toltip-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 200;
	padding-top: 30px;
	opacity: 0.6;
	letter-spacing: 0;
}
/* Dummy elements */
.dummy {
	text-align: left;
	padding: 1em;
	min-height: 300px;
	margin: 0 auto;
	font-weight: 300;
}
.dummy-text {
	max-width: 1000px;
	font-size: 1.65em;
}
.info {
	margin: 0 auto;
	text-align: center;
	max-width: 600px;
	font-size: 13px;
	padding: 2em 0;
}
.dummy-text p {
	margin-top: 0;
	line-height: 1.8;
	text-align: justify;
}
.dummy-text h3 {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
	margin: 2em 0 1em;
}
.dummy-menu {
	max-width: 100%;
	padding: 4em 1em;
}
.dummy-menu ul, .dummy-team ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0 0 3em;
}
.dummy-menu ul li {
	display: inline-block;
	position: relative;
	margin: 0 1em;
	font-size: 1.5em;
}
.dummy-menu ul li a {
	display: inline-block;
	font-weight: 700;
	padding: 0.15em 0.25em 0;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.dummy-menu-icons ul li {
	width: 2em;
	height: 2em;
	font-size: 2em;
	line-height: 1.75;
}
.dummy-image {
	position: relative;
}
.dummy blockquote {
	font-family: 'Kalam', cursive;
	font-size: 2.5em;
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
}
.dummy blockquote footer {
	font-size: 0.5em;
}
.dummy blockquote footer::before {
	content: 'â€”';
}
.dummy-avatar {
	margin-top: 7em;
	text-align: center;
}
.dummy-avatar > div {
	display: inline-block;
	margin: 0 1em;
}
.dummy-avatar a {
	margin: 0 auto;
	display: block;
	text-align: center;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.dummy-avatar a img {
	border-radius: 50%;
}
.dummy-avatar a h4 {
	margin: 0.25em 0;
	line-height: 1;
	font-size: 1.75em;
	font-weight: 400;
}
.tooltip {
	display: inline;
	position: relative;
	z-index: 999;
}
/* Trigger text */


.tooltip-item{
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: 0 10px;
}
/* Gap filler */

.tooltip-item::after {
	content: '';
	position: absolute;
	width: 360px;
	height: 20px;
	bottom: 100%;
	left: 50%;
	pointer-events: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.tooltip:hover .tooltip-item::after {
	pointer-events: auto;
}
/* Tooltip */

.tooltip-content {
	position: absolute;
	z-index: 9999;
	width: 360px;
	left: 50%;
	margin: 0 0 20px -180px;
	bottom: 100%;
	text-align: right;
	font-size: 0.765em;
	line-height: 1.4;
	box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
	background: #2a3035;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}
.tooltip-effect-1 .tooltip-content {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-2 .tooltip-content {
	-webkit-transform-origin: 50% calc(100% + 10px);
	transform-origin: 50% calc(100% + 10px);
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 45deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}
.tooltip-effect-3 .tooltip-content {
	-webkit-transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
	transform: translate3d(0, 10px, 0) rotate3d(1, 1, 0, 25deg);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.tooltip-effect-4 .tooltip-content {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transform: scale3d(0.7, 0.3, 1);
	transform: scale3d(0.7, 0.3, 1);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}
.tooltip-effect-5 .tooltip-content {
	width: 180px;
	margin-left: -90px;
	-webkit-transform-origin: 50% calc(100% + 6em);
	transform-origin: 50% calc(100% + 6em);
	-webkit-transform: rotate3d(0, 0, 1, 15deg);
	transform: rotate3d(0, 0, 1, 15deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transition-timing-function: ease, cubic-bezier(.17, .67, .4, 1.39);
	transition-timing-function: ease, cubic-bezier(.17, .67, .4, 1.39);
}
.tooltip:hover .tooltip-content {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
	transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}
.tooltip.tooltip-effect-2:hover .tooltip-content {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}
/* Arrow */

.tooltip-content::after {
	content: '';
	top: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #2a3035;
	border-width: 10px;
	margin-left: -10px;
}
/* Tooltip content*/

.tooltip-content img {
	position: relative;
	height: 155px;
	display: block;
	float: left;
	margin-right: 1em;
}
.tooltip-text {
	font-size: 15px;
	line-height: 1.35;
	display: block;
	padding: 1.31em 1.21em 1.21em 0;
	color: #fff;
}
.tooltip-effect-5 .tooltip-text {
	padding: 1.4em;
}
.tooltip-text a {
	font-weight: bold;
}




@media screen and (max-width:550px) {
.tooltip-content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.tooltip-content {
    left: 100%;
    width: 200px;
	margin: 0 0 20px -160px;
}
.tooltip-text {
	display: grid;
	padding: 8px;
	position: relative;
	width: 100%;
}
.tooltip-effect-5 .tooltip-content {
    margin-left:0;
	left:0
}
.dummy {
    padding: 1em 0;
}
}